@{
    Layout = "_LayoutStaff";
    ViewData["Title"] = "Phục vụ";
}
<div class="row">
  <div class="col-md-4">
    <h5>📋 Danh sách bàn</h5>
    <div id="table-list"></div>
  </div>
  <div class="col-md-8">
    <div id="food-section"></div>
  </div>
</div>

<script>
$(function(){
  $("#table-list").load("/Staff/TableList");
});

function selectTable(id){
  $("#food-section").load(`/Staff/FoodList?tableId=${id}`);
}
</script>
